/* Import this file in your App to load Leaflet's default styles */
@import url('https://unpkg.com/leaflet/dist/leaflet.css');

html, body, #root {
	height: 100%;
	margin: 0;
	padding: 0;
}

.leaflet-fullscreen,
.leaflet-container {
	height: 100% !important;
	width: 100% !important;
	min-height: 100vh;
	min-width: 100vw;
}
